/* scholar */
.scholarSys li:hover i { animation-duration: 1s; animation-name: shake; animation-iteration-count: 1; } 
@keyframes shake { 
 from { transform: rotate(0); } 
 40% { transform: rotate(-35deg); } 
 80% { transform: rotate(35deg); } 
 to { transform: rotate(0); } 
 }
.inv { position: relative; left: 50%; margin-left: -1000px; width: 2000px; height: 800px; background: url(../images/content4/inv.jpg); } 
.inv p { position: absolute; top: 250px; left: 400px; color: #fff; } 
.inv p:first-child { font-size: 1.875em; } 
.inv p:last-child { top: 600px; } 
.scholarSys ul { overflow: hidden; text-align: center; } 
.scholarSys li { width: 33.333%; float: left; margin-top: 20px; } 
.scholarSys i { font-size: 5em; } 
.scholarSys dl { width: 80%; margin: 0 auto; } 
.scholarSys dt { font-size: 1.875em; margin: 30px 0; } 
.scholarSys dd { text-align: justify; } 
.scholar span { display: block; margin: 10px 0; } 
.scholar span i { color: #c01; } 
.scholar>section { margin: 50px 0; } 
.scholar h4 { font-size: 1.875em; font-weight: 500; } 
.scholar ol { list-style: decimal; margin-left: 50px; font-size: 1.25em; } 
.scholar>section p, .scholar>section li { margin:15px 0; line-height: 1.5em; } 
.scholar ol dd { font-size: 1em; } 
.scholar strong { display: block; font-weight: 500; font-size: 1.3em; margin: 20px 0; } 
.scholar section:nth-of-type(2) dl { overflow: hidden; } 
.scholar section:nth-of-type(2) dt { float: left; } 
.scholar section:nth-of-type(2) dd { float: right; width: 92%; margin-top: -5px; } 
section .scholarProcess { position: relative; list-style: none; text-align: center; margin: 50px auto; } 
.scholarProcess::after { content: ''; display: block; clear:both; } 
section .scholarProcess li { position: relative; float: left; width: 250px; height: 250px; margin-right: 30px; border: 1px solid #c01; border-radius: 50%; padding-top: 60px; font-size: .85em; transition: all .5s; } 
.scholarProcess span { font-size: 1.6em; font-weight: 700; color: #fff; -webkit-text-stroke: 1px #c01; transition: all .5s; } 
section .scholarProcess li:hover { color: #c01; transform: scale(1.1); } 
