/* contentArea */
.contentArea section{
    margin: 200px 0;
}
.contentArea h3{
    margin-bottom: 50px;
    font-size: 3.125em;
    color: #c01;
}
.contentArea h4{
    margin-bottom: 50px;
    font-size: 2.5em;
}
.contentArea p{
    margin: 50px 0;
}
.contentArea span{
    display: block;
    font-size: 1.875em;
    color: #666;
}
.contentArea h3, .contentArea span{
    text-align: center;
}
.tabNav li{
    float: left;
    width: 50%;
}

section ul{
    overflow: hidden;
    width: 550px;
    margin: 0 auto;
    text-align: center;
}
section li{
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, .2);
    font-size: 1.5em;
}
section ul:nth-of-type(1) li:first-child{
    border-top-left-radius: 100%;
    padding: 130px 0 0 50px;
}
section ul:nth-of-type(1) li:last-child{
    border-top-right-radius: 100%;
    padding: 130px 50px 0 0;
}
section ul:nth-of-type(2) li:first-child{
    border-bottom-left-radius: 100%;
    padding: 80px 0 0 50px;
}
section ul:nth-of-type(2) li:last-child{
    border-bottom-right-radius: 100%;
    padding: 100px 50px 0 0;
}

section li:first-child{
    float: left;
}
section li:last-child{
    float: right;
}

