/* exhibition */
.contentArea>div ul li:first-child { top: 100px; animation: bottomTopSlide2 2s infinite alternate; } 
@keyframes bottomTopSlide2 { 
 from { margin-top: 40px; margin-bottom: -40px; } 
 to { } 
 }
.contentArea>div ul li:last-child { animation: topBottomSlide2 2s infinite alternate; } 
@keyframes topBottomSlide2 { 
 from { margin-top: -40px; margin-bottom: 40px; } 
 to { } 
}
.contentArea>div ul li:first-child::before { content: 'KUMHO'; display: block; position: absolute; color: #c01; font-size: 9em; font-weight: 100; top: -200px; left: 0; animation: bottomTopSlide 2s infinite alternate; } 
.contentArea>div ul li:first-child::after { top: 100px; left: -100px; animation: bottomTopSlide 2s infinite alternate; } 
@keyframes bottomTopSlide { 
 from { margin-top: 80px; margin-bottom: -80px; opacity: 0; } 
 to { opacity: 1; } 
}
.contentArea>div ul li:last-child::before { content: 'EXHIBITION'; display: block; position: absolute; color: #c01; font-size: 8em; font-weight: 100; bottom: -300px; right: 0; animation: topBottomSlide 2s infinite alternate; } 
.contentArea>div ul li:last-child::after { top: -100px; left: 100px; animation: topBottomSlide 2s infinite alternate; } 
 @keyframes topBottomSlide { 
 from { margin-top: -80px; margin-bottom: 80px; opacity: 0; } 
 to { opacity: 1; } 
 }

.contentArea>div ul li::after { content: ''; display: block; position: absolute; width: 600px; height: 700px; border: 1px solid #c01; z-index: -10; } 
.contentArea>div { margin: 200px 0; } 
.contentArea>div ul { height: 1100px; } 
.contentArea>div ul::after { content: ''; display: block; clear: both; } 
.contentArea>div ul li { float: left; position: relative; font-family:'Roboto', sans-serif; } 
.contentArea>div li img { transition: all .5s; } 
.contentArea>div li img:hover { filter: invert(100); } 
.contentArea div p { margin: 50px 0; } 
.contentArea div p:first-child { font-size: 1.8em; } 
.contentArea div p:first-child span { font-size: 1.2em; font-weight: 500; color: #c01; } 