/* contentArea */
.contentArea section{
    margin-bottom: 100px;
}
.tabNav{
    overflow: hidden;
    width: 1200px;
    margin-bottom: 100px;
    text-align: center;
    font-size: 1.625em;
}
.tabNav li{
    float: left;
    width: 33.3333%;
}
.tabNav li a{
    display: block;
    height: 80px;
    padding-top: 20px;
    border-bottom: 5px solid #c01;
    transition: all .3s;
}
.tabNav .tabCurrent{
    background: #c01;
    color: #fff;
}
.tabNav li a:hover{
    background: #c01;
    color: #fff;
}
.map{
    width: 1200px;
}
.map h3{
    font-size: 40px;
    text-align: center;
    margin: 30px 0;
}
.map>div{
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
}
.map dl{
    overflow: hidden;
    margin: 50px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
}
.map dl:last-child{
    border-bottom: 0;
}
.map dl span{
    display: block;
}
.map dt{
    float: left;
    font-size: 2.5em;
}
.map dt i{
    color: #999;
}
.map dt>span{
    margin-top: 10px;
    font-size: 20px;
    color: #666;
}
.map dd{
    float: right;
    width: 700px;
}
.map dd p{
    margin-bottom: 20px;
}
.map dd span{
    font-size: 1.2em;
    font-weight: 700;
}
