@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


/* CSS Reset */

html, body, div , span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{margin: 0; padding: 0; border: 0; font-size: 100%;}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{display: block;}
body{font-family:'Noto Sans KR', sans-serif; font-size: 16px; color: #333}
ol, ul{list-style: none;}
table{border-collapse: collapse; border-spacing: 0;}
address{font-style: normal}
a{color: #333; text-decoration: none}
img{border: 0; vertical-align: top}
*{box-sizing: border-box;}

.hidden{display: block; position: absolute;
    left: -1000%; width: 1px; height: 1px;
    overflow: hidden; color: #fff;}

#skipNav{
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 60;
}
#skipNav a{
    display: block;
    height: 1px;
    margin-bottom: -1px;
    font-size: 1.2em;
    color: #333;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
}
#skipNav a:hover, #skipNav a:focus, #skipNav a:active{
    height: auto;
    padding: 10px 0;
    background: #f2f2f2;
}

.wrap{width: 100%; overflow: hidden;}
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

 /* header 공통영역 */ 
#headerArea{height: 100px; 
    width: 100%; 
    z-index: 100;
    position: fixed; 
    top: 0;
}
#headerArea .headerInner{
    width: 1200px; 
    margin: 0 auto; 
    overflow: hidden;
    height: 100px;
}
#headerArea h1{
    float: left; 
    margin: 30px 40px 30px 0;
}
#headerArea h1 a{
    display: block;
    width: 142px; 
    height: 37px; 
    text-indent: -999px; 
    overflow: hidden;
    background: url(../images/logo.png)
}
#headerArea nav{
    float: left; 
    overflow: hidden; 
    margin-top: 45px;
}
#headerArea nav li{
    float: left; 
}
#headerArea nav a{
    display: block;
    color: #fff; 
    font-size: 20px; 
    font-weight: 500;
    padding: 0 30px 20px 30px;
}
#headerArea nav li:hover a{
    color: #c01;
}
#headerArea .topMenu{
    float: right; 
    overflow: hidden;
    margin: 50px 0 30px 0
}
#headerArea .topMenu li{float: left; margin-right: 30px;}
#headerArea .topMenu a{color: #fff;}

/* footer 공통영역 */ 
#footerArea{
    background: #333;
    color: #fff;
}
#footerArea .footerInner{
    width: 1200px; 
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}
#footerArea .footerInner div{
    margin-top: 50px;
    margin-right: 150px;
}
#footerArea .footerInner div:last-child{
    margin-right: 0;
}
#footerArea .footerInner .topMove{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    text-align: center;
    z-index: 100;
    transition: all .1s;
}
#footerArea .topMove i{
    font-size: 1.25em;
    color: #c01;
    transition: all .3s;
}
#footerArea .footerInner .topMove:hover{
    background: none;
}
#footerArea .footerInner .topMove:hover i{
    transform: rotate(-45deg);
}
#footerArea .footerLeft{
    float: left;
    font-family: 'Roboto', sans-serif;
}
#footerArea .footerLeft p{
    margin-top: 20px;
}
#footerArea .footerLeft p:nth-last-child(1){
    margin-top: 100px;
    color: #999;
    
}
#footerArea .footerCenter{
    float: left;
    color: #999;
}
#footerArea .footerCenter address{
    margin-top: 20px;
}
#footerArea .footerCenter ul{
    margin-top: 100px;
    overflow: hidden;
}
#footerArea .footerCenter li{
    float: left;
    padding: 0 10px;
}
#footerArea .footerCenter li:nth-child(1){
    padding-left: 0;
}
#footerArea .footerCenter li a{
    color: #999;
}
#footerArea .footerCenter li:hover a{
    font-weight: 500;
    color: #fff;
}
#footerArea .footerRight{
    float: right;
    overflow: hidden;
}
#footerArea .footerRight ul{
    margin-top: 20px;
    overflow: hidden;
}
#footerArea .footerRight li{
    float: left;
    margin-right: 25px;
    font-size: 2.1em;
}
#footerArea .footerRight li a{
    color: #fff;
    transition: all .3s ease-out;
}
#footerArea .footerRight li:hover a{
    color: #666;
}
#footerArea .footerRight li:last-child{
    margin-right: 0;
}

#footerArea .footerRight .familySite{
    display: block;
    width: 190px;
    height: 35px;
    margin-top: 110px;
    padding-top: 5px;
    text-align: center;
    background: #666;
    transition: all .3s ease-out;
}
#footerArea .footerRight .familySite:hover{
    background: #fff;
    color: #333;
}


/* 패밀리 사이트 만들기 */
#footerArea .family{
    width: 250px; 
    background: #ccc; 
    position: relative;
}
#footerArea .family>a{
    display: block; padding: 20px 0 20px 20px;
    background: #333; color: #fff; font-size: 16px;
    transition: all .5s ease-out;}
#footerArea .family>a:hover{background: #666;}
#footerArea .family ul{
    width:  250px;
    position: absolute; 
    top: -320px; left: 0;
    display: none;
}
#footerArea .family ul a{
    display: block;
    padding: 20px 0 20px 20px; 
    background: #999;
    transition: all .5s ease-out;}
#footerArea .family ul a:hover{
    background: #ccc; 
    color: #fff;}